@import 'setup';

.loadout-desk {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    background: rgba(89,69,41,1);
    background: -moz-linear-gradient(top, rgba(89,69,41,1) 0%, rgba(66,54,38,1) 19%, rgba(41,37,30,1) 61%, rgba(26,18,14,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,69,41,1)), color-stop(19%, rgba(66,54,38,1)), color-stop(61%, rgba(41,37,30,1)), color-stop(100%, rgba(26,18,14,1)));
    background: -webkit-linear-gradient(top, rgba(89,69,41,1) 0%, rgba(66,54,38,1) 19%, rgba(41,37,30,1) 61%, rgba(26,18,14,1) 100%);
    background: -o-linear-gradient(top, rgba(89,69,41,1) 0%, rgba(66,54,38,1) 19%, rgba(41,37,30,1) 61%, rgba(26,18,14,1) 100%);
    background: -ms-linear-gradient(top, rgba(89,69,41,1) 0%, rgba(66,54,38,1) 19%, rgba(41,37,30,1) 61%, rgba(26,18,14,1) 100%);
    background: linear-gradient(to bottom, rgba(89,69,41,1) 0%, rgba(66,54,38,1) 19%, rgba(41,37,30,1) 61%, rgba(26,18,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#594529', endColorstr='#1a120e', GradientType=0 );

    .streams-area {
        position: absolute;
        left: $panel-small-size;
        right: 0px;
        top: 0px;
        bottom: 0px;

        .dnd {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;

            .smooth-dnd-container {
                height: 100%;
            }

            .stream {
                border-radius: 4px;
                min-width: 300px;
                max-width: 300px;
                height: 100%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a3123+0,110e08+100 */
                background: #3a3123; /* Old browsers */
                background: -moz-linear-gradient(-45deg, #3a3123 0%, #110e08 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #3a3123 0%,#110e08 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #3a3123 0%,#110e08 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3123', endColorstr='#110e08',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                display: flex;
                flex-direction: column;
                margin: 0px 0px 0px 2px;
                flex-flow: column;

                > .top {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad885f+0,634f32+100 */
                    background: #ad885f; /* Old browsers */
                    background: -moz-linear-gradient(-45deg, #ad885f 0%, #634f32 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(-45deg, #ad885f 0%,#634f32 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(135deg, #ad885f 0%,#634f32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad885f', endColorstr='#634f32',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    min-height: 30px;

                    > .title {
                        min-height: 30px;
                    }

                    > .stream-widget-dnd {
                        min-height: 30px;
                    }
                }

                > .stream-post-dnd {
                    -webkit-box-shadow: inset 0px 7px 21px 4px rgba(0,23,71,0.23);
                    box-shadow: inset 0px 7px 21px 4px rgba(0,23,71,0.23);
                    flex: 1;
                }
            }
        }

        .no-implement {
            border-radius: 4px;
            -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,22,54,0.5);
            -moz-box-shadow: inset 0px 0px 0px 2px rgba(0,22,54,0.5);
            box-shadow: inset 0px 0px 0px 2px rgba(0,22,54,0.5);
            background-image: url("../-ex-res/element_none.png");
            background-repeat: no-repeat;
            background-position: center;
            opacity: .5;
            height: 100%;
        }
    }
}

.stream-widget-dnd::-webkit-scrollbar {
    background: rgba(255, 255, 255, .05);
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.stream-widget-dnd::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

.stream-widget-dnd {
    overflow-y: auto;

    .widget-frame {
        -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .05), inset -1px -1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .05), inset -1px -1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .05), inset -1px -1px 1px rgba(0, 0, 0, .05);
        min-height: 30px;
        position: relative;
        padding: 0.1px;
        font-size: 12px;

        .socket-icon {
            border-radius: 4px;
            position: absolute;
            left: 3px;
            top: 3px;
            width: 15px;
            height: 15px;
            opacity: .25;
            border: 1px solid rgba(0, 0, 0, .5);
        }

        input[type="text"] {
            -webkit-appearance: none;
            border: 1px solid rgba(0, 0, 0, .25);
            -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,22,54,0.25);
            -moz-box-shadow: inset 1px 1px 5px 0px rgba(0,22,54,0.25);
            box-shadow: inset 1px 1px 5px 0px rgba(0,22,54,0.25);
            background: rgba(255, 255, 255, .02);
            padding: 4px;
            border-radius: 4px;
            font-weight: bold;
            font-size: 12px;
        }

        .header-element {
            position: relative;
            margin-left: 21px;
            margin-right: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
            min-height: 27px;
            font-weight: bold;
            box-sizing: border-box;

            input[type="text"] {
                margin-right: 30px;
                width: 100%;
                box-sizing: border-box;
            }
        }

        .line-element {
            margin: 7px;
        }

        .list-element {
            margin: 7px;

            ul {
                padding: 2px;
                margin: 0px;
                border: 1px rgba(0, 0, 0, .1);

                li {
                    display: inline;
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;

                    button {
                        margin-right: 2px;
                        margin-bottom: 2px;
                    }
                }
            }
        }

        button {
            background: rgba(255, 255, 255, 0.05);
            -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .15), inset -1px -1px 1px rgba(0, 0, 0, .15);
            -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .15), inset -1px -1px 1px rgba(0, 0, 0, .15);
            box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .15), inset -1px -1px 1px rgba(0, 0, 0, .15);
            color: inherit;
            border: none;
            padding: 5px;
            font: inherit;
            border-radius: 2px;
            cursor: pointer;
        }

        button.soft-action {
            background: rgba(200, 225, 255, 0.1);
        }

        button.hard-action {
            background: rgba(255, 200, 255, 0.1);
        }

        .hatch {
            background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(0, 0, 0, .1) 4px, rgba(0, 0, 0, .1) 8px);
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
        }
    }

    .widget-frame.broken {
        filter: blur(1px)
    }
}

.stream-post-dnd::-webkit-scrollbar {
    background: rgba(0, 0, 0, .05);
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.stream-post-dnd::-webkit-scrollbar-thumb {
    background: rgba(200, 255, 255, .1);
}

.stream-post-dnd {
    height: 1px;
    overflow-y: auto;

    > .scrollarea {
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .smooth-dnd-draggable-wrapper {
        padding-bottom: 10px;
        margin-bottom: -10px;
    }

    .post {
        -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .05), inset -1px -1px 1px rgba(0, 0, 0, .05), 0px 3px 8px 0px rgba(0,0,0,0.15);
        -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .05), inset -1px -1px 1px rgba(0, 0, 0, .05), 0px 3px 8px 0px rgba(0,0,0,0.15);
        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .05), inset -1px -1px 1px rgba(0, 0, 0, .05), 0px 3px 8px 0px rgba(0,0,0,0.15);
        background: rgb(60,70,70);
        min-height: 30px;
        margin: 5px;
        margin-bottom: 0px;
        padding: 5px;
        display: block;
        border-radius: 5px;
        font-size: 12px;
        color: rgb(253, 246, 227);

        .time {
            font-size: 8px;
            float: right;
            opacity: .6;
        }

        .generic-is-ok {
            font-size: 9px;
            float: left;
            margin-right: 4px;
        }

        .generic-is-ok.ok {
            color: lightgreen;
        }

        .generic-is-ok.failed {
            color: orangered;
        }

        .re-user-action {
            font-style: italic;
            opacity: .6;
        }

        .react-json-view {
            font-size: 12px;
        }
    }
}

.smooth-dnd-ghost {
    width: 50px;
    height: 50px;
}